body {
    margin: 0;
}

.line {
    width: 100%;
    height: 8px;
    background-color: #9999cc;
}
.heder {

   
width: 1020px;
height: 130px;
display: flex;
align-items: center;
justify-content: space-between;
margin: 0 auto;
}

.buttons {
    
    align-items: center;
    width: 600px;
    justify-content:space-between;
    display: flex;
}
.buttons-items {
   
    display: flex;
    align-items: center;
cursor: pointer;
}
.button-img {
    margin-right: 10px;
}

.slider {
    width: 1020px;
    height: 485px;
border:1px solid red;
margin: 0 auto;
background: url("../images/baner.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
position: relative;
}
.slider-button-left {
    width: 35px;
    height: 65px;
    background: #aa2299;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: calc(50% - 32.5px);

}
.sl-button-left {
    left: 0;
}

.sl-button-right {
right: 0;
transform: rotate(180deg);
}